<form action="/new"><input type="submit" value="Add Student"></form><br><br>
<form action="/all"><input type="submit" value="View All"></form><br><br>
<form method="post" action="/student">
	<input type="text" name="id">
	<input type="submit" value="View One Student">
</form><br><br>

